// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

$Main-font: 'Roboto Slab', serif, Arial;
$Secondary-font: 'Roboto', sans-serif, Helvetica;

body {
    font-family: $Main-font;
    font-size: 0.938em;
    font-weight:normal;
    color:#111;
}

h1 {
    font-size: 3em;
    font-family: $Main-font;
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: 700;
    color:#111;
}

h2 {
    font-size: 1.5em;
    font-family: $Main-font;
    letter-spacing: 1.2px;
    line-height: 1.3em;
    text-align: center;
    font-weight: 500;
    color:#111;
}

h3 {
    font-size: 1.2em;
    font-family: $Main-font;
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: 500;
    color:#111;
}

p {
    font-size: 0.95em;
    font-family: $Secondary-font;
    letter-spacing: .5px;
    line-height: 1.5em;
    text-align: center;
    font-weight: 300;
}

/* Section Title and Subtitle */

.section-title {
    font-family: $Main-font;
    font-size: 2.125em;
    font-weight:700;
    color:#111;
}

.section-subtitle {
    font-family: $Secondary-font;
    font-size: 1em;
    font-weight:300;
    color:#111;
}
