@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
body {
  font-family: "Roboto Slab", serif, Arial;
  font-size: 0.938em;
  font-weight: normal;
  color: #111; }

h1 {
  font-size: 3em;
  font-family: "Roboto Slab", serif, Arial;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 700;
  color: #111; }

h2 {
  font-size: 1.5em;
  font-family: "Roboto Slab", serif, Arial;
  letter-spacing: 1.2px;
  line-height: 1.3em;
  text-align: center;
  font-weight: 500;
  color: #111; }

h3 {
  font-size: 1.2em;
  font-family: "Roboto Slab", serif, Arial;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 500;
  color: #111; }

p {
  font-size: 0.95em;
  font-family: "Roboto", sans-serif, Helvetica;
  letter-spacing: .5px;
  line-height: 1.5em;
  text-align: center;
  font-weight: 300; }

/* Section Title and Subtitle */
.section-title {
  font-family: "Roboto Slab", serif, Arial;
  font-size: 2.125em;
  font-weight: 700;
  color: #111; }

.section-subtitle {
  font-family: "Roboto", sans-serif, Helvetica;
  font-size: 1em;
  font-weight: 300;
  color: #111; }

form {
  margin-bottom: 33.6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  form input {
    margin: 0;
    padding: 10px 10px;
    border: none; }
  form input[type='email'] {
    width: 150%; }
  form input[type='submit'] {
    width: 200px; }

.btn-outer {
  border: 3px solid #fff;
  width: 210px;
  height: 20px;
  border-top: 0;
  border-bottom: 0; }
  .btn-outer:hover {
    width: 180px;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s; }
  .btn-outer a[role="button"] {
    color: #fff;
    background: #d2b356;
    border: 2px solid #fff;
    padding: 10px; }

/*

1. Defaults
- 1.1 Page Border
2. Layout Elements
- 2.1 Clearfix
- 2.2 Rows and Columns
- 2.3 Header
- 2.4 Images
- 2.5 Section Headings
3. Footer

/*------------------------------------------------------------------------------------------*/
/* 1. Defaults
/*------------------------------------------------------------------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
  background: whitesmoke; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
  margin: 0;
  padding: 0; }

.row img {
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none;
  line-height: inherit;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

figure {
  margin: 0; }

#wrapper {
  position: relative; }

/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/
/* --------- 2.1 Clearfix --------- */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* --------- 2.2 Rows and Columns --------- */
.row {
  max-width: 1245px;
  margin: 0 auto;
  padding: 1.75em 0em;
  position: relative; }

/* Targets all column classes */
[class*='col-'] {
  float: left;
  padding: 20px; }

.col-1-lg {
  width: 100%; }

.col-2-lg {
  width: 50%; }

.col-3-lg {
  width: 33.33%; }

.col-4-lg {
  width: auto; }

.col-1-md {
  width: auto; }

/* --------- 2.3 Header --------- */
#header {
  height: 71px !important;
  overflow: visible;
  z-index: 9999;
  width: 100%;
  position: absolute !important; }

/* --------- 2.4 Images ---------- */
img {
  vertical-align: top; }

.image-center {
  display: block;
  margin: 0 auto; }

a img {
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backface-visibility: hidden; }

a img:hover {
  opacity: 0.7; }

/* --------- 2.5 Section Headings --------- */
section {
  clear: both;
  overflow: hidden; }

.section-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 15px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-subtitle {
  font-size: 18px;
  padding-top: 0; }

.section-heading h2:after {
  background: #d2b356;
  margin: 0% 20%;
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 2px;
  margin-top: 10px; }

.section-heading h3 {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1.5em 0em 0em 0em; }

/*------------------------------------------------------------------------------------------*/
/* 3. Footer */
/*------------------------------------------------------------------------------------------*/
/* Scroll Up */
#scrollUp {
  bottom: 15px;
  right: 30px;
  width: 70px;
  height: 80px;
  margin-bottom: -10px;
  padding: 0 5px 20px 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: margin-bottom 150ms linear;
  -o-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear; }

#scrollUp:hover {
  margin-bottom: 0; }

#scrollUp:before {
  background: #ccc;
  font-family: "fontawesome";
  font-size: 2.4em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #fff;
  width: 45px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  content: "\f106";
  opacity: 1; }

#landing {
  background: url("../../images/landing.jpeg") center center no-repeat;
  background: url("http://res.cloudinary.com/charlotte-developers/image/upload/dpr_auto,f_auto,q_auto/v1511204771/landing.jpg") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1; }
  #landing h1, #landing h2 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: whitesmoke; }
  #landing h2 {
    padding: 0 20px;
    margin-bottom: 30px; }
  #landing:before {
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 49, 60, 0.85)), to(rgba(245, 245, 245, 0.65)));
    background: -webkit-linear-gradient(top, rgba(52, 49, 60, 0.85), rgba(245, 245, 245, 0.65));
    background: -o-linear-gradient(top, rgba(52, 49, 60, 0.85), rgba(245, 245, 245, 0.65));
    background: linear-gradient(to bottom, rgba(52, 49, 60, 0.85), rgba(245, 245, 245, 0.65));
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1; }
  #landing .landing-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

#meetups h2 {
  width: 100%;
  margin: 0;
  padding: 1.25em 0 0 0; }

#meetups .meetup-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1245px;
  margin-right: auto;
  margin-left: auto; }
  #meetups .meetup-container .meetup {
    width: 33.33%;
    padding: 20px; }
    @media only screen and (max-width: 920px) {
      #meetups .meetup-container .meetup {
        width: 100%; } }
    #meetups .meetup-container .meetup-cont {
      display: grid;
      grid-template-rows: 75px 60px 30px 1fr 30px;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      height: 510px; }
    #meetups .meetup-container .meetup p, #meetups .meetup-container .meetup__title {
      width: 100%;
      text-align: left; }
    #meetups .meetup-container .meetup__title {
      padding: 15px; }
    #meetups .meetup-container .meetup__desc {
      padding: 0 15px; }
    #meetups .meetup-container .meetup__time {
      color: #708090;
      padding-left: 15px; }
    #meetups .meetup-container .meetup__time, #meetups .meetup-container .meetup__location, #meetups .meetup-container .meetup__address {
      letter-spacing: 1px;
      font-size: 13px; }
    #meetups .meetup-container .meetup__info-cont {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      padding: 5px 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: #d2b356; }
    #meetups .meetup-container .meetup__link {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      justify-self: end;
      padding: 15px;
      color: #111;
      background: #d2b356;
      -webkit-box-shadow: 1px solid rgba(0, 0, 0, 0.25);
              box-shadow: 1px solid rgba(0, 0, 0, 0.25); }

#meetups section#meetups.hidden {
  visibility: hidden;
  height: 2.5em;
  width: 0; }

#mission .mission-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto; }
  #mission .mission-container .mission {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

#sponsors p {
  margin: auto; }

#sponsors h3 {
  font-size: 1.1em;
  padding-top: 0.75em; }

#sponsors .sponsors-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 20%; }
  #sponsors .sponsors-container .sponsor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 20px;
    width: 33%; }

.users {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: auto; }
  .users img {
    width: 90%;
    margin: 0em auto 1.5em; }
  .users p {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left; }
  .users .info-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    height: 510px; }
  .users .info__img-cont {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 225px;
    margin: 0 auto; }
    .users .info__img-cont img, .users .info__img-cont h3 {
      position: absolute; }
    .users .info__img-cont h3 {
      bottom: 25px;
      left: 15px;
      z-index: 2;
      color: #fff;
      text-align: left; }
    .users .info__img-cont img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      @supports ((-o-object-fit: cover) or (object-fit: cover)) {
        .users .info__img-cont img {
          -o-object-fit: cover;
             object-fit: cover;
          -o-object-position: center;
             object-position: center; } }
    .users .info__img-cont .img-mask {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
      background: -webkit-linear-gradient(top, transparent, black);
      background: -o-linear-gradient(top, transparent, black);
      background: linear-gradient(to bottom, transparent, black); }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 15px;
  color: whitesmoke;
  background: #111;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer [class*='col-'] {
    float: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    padding: 7.5px 0px; }
  footer .col-1-lg, footer .col-4-lg {
    padding: 4px 0px;
    width: auto; }
  footer .content-links {
    text-align: center;
    padding: .5em 2em .2em 2em; }
    footer .content-links a {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      color: whitesmoke;
      text-decoration: none;
      margin: 0.75em;
      padding: .65em 1.4em;
      border: 1px solid #d2b356;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    footer .content-links a::before {
      border-left: solid 1px #454E57;
      padding: 2.5em; }
  footer .divider {
    border-left: solid 1px #454E57; }
  footer .copyright {
    margin-top: 0.5em;
    margin-bottom: 0em; }

@media screen and (max-width: 600px) {
  #user-section .col-1-sm {
    width: 100%; }
  #sponsors .sponsors-container {
    padding: 1em; }
    #sponsors .sponsors-container .sponsor {
      max-width: 100%;
      max-height: 250px; }
  .mission p {
    max-width: 80%; }
  footer .copyright {
    margin-top: 2px; } }

@media screen and (min-width: 880px) {
  footer .col-1-sm, footer .col-1-md {
    padding: 0.1em 4.25em;
    width: auto; } }

@media screen and (max-width: 920px) {
  #user-section .col-1-sm {
    width: 100%; }
  .users img {
    min-height: 16.5vw; }
  .mission {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }

@media screen and (min-width: 880px) {
  footer .col-1-md {
    padding: 0.25em 8em; } }

@media screen and (max-width: 1049px) {
  .users img {
    min-height: 17vw; } }

@media screen and (min-width: 1050px) {
  .users img {
    min-height: 17.5vw; }
  footer .col-1-md {
    padding: 0.5em 12em; } }

@media screen and (min-width: 1200px) {
  .users img {
    min-height: 17.5vw; }
  footer .col-1-md {
    padding: 0.5em 17.5em; } }

@media screen and (min-width: 1300px) {
  .users img {
    min-height: 17vw; } }

@media screen and (min-width: 1400px) {
  .users img {
    min-height: 16vw; }
  footer .col-1-md {
    padding: 0.5em 25em; } }

@media screen and (min-width: 1500px) {
  .users img {
    min-height: 14.75vw; } }

@media screen and (min-width: 1600px) {
  .users img {
    min-height: 14.25vw; }
  footer .col-1-md {
    padding: 0.5em 30em; } }

@media screen and (min-width: 1720px) {
  .users img {
    min-height: 13.5vw; }
  footer .col-1-md {
    padding: 0.1em 40em; } }

@media screen and (min-width: 1900px) {
  .users img {
    min-height: 11.75vw; } }
