@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
body {
  font-family: "Roboto Slab", serif, Arial;
  font-size: 15px;
  font-weight: normal;
  color: #111; }

h1 {
  font-size: 3em;
  font-family: "Roboto Slab", serif, Arial;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 700;
  color: #111; }

h2 {
  font-size: 1.5em;
  font-family: "Roboto Slab", serif, Arial;
  letter-spacing: 1.2px;
  line-height: 1.3em;
  text-align: center;
  font-weight: 500;
  color: #111; }

h3 {
  font-size: 1.2em;
  font-family: "Roboto Slab", serif, Arial;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 500;
  color: #111; }

p {
  font-size: 0.95em;
  font-family: "Roboto", sans-serif, Helvetica;
  letter-spacing: .5px;
  line-height: 1.5em;
  text-align: center;
  font-weight: 300;
  max-width: 70%; }

/* Section Title and Subtitle */
.section-title {
  font-family: "Roboto Slab", serif, Arial;
  font-size: 34px;
  font-weight: 700;
  color: #111; }

.section-subtitle {
  font-family: "Roboto", sans-serif, Helvetica;
  font-size: 16px;
  font-weight: 300;
  color: #111; }

form {
  margin-bottom: 33.6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  form input {
    margin: 0;
    padding: 10px 10px;
    border: none; }
  form input[type='email'] {
    width: 150%; }
  form input[type='submit'] {
    width: 200px; }

/*

1. Defaults
- 1.1 Page Border
2. Layout Elements
- 2.1 Clearfix
- 2.2 Rows and Columns
- 2.3 Header
- 2.4 Images
- 2.5 Section Headings
3. Footer

/*------------------------------------------------------------------------------------------*/
/* 1. Defaults
/*------------------------------------------------------------------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
  background: whitesmoke; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
  margin: 0;
  padding: 0; }

.row img {
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none;
  line-height: inherit;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

figure {
  margin: 0; }

/* --------- 1.1 Page Border --------- */
.page-border {
  position: fixed;
  z-index: 999999;
  pointer-events: none; }

.page-border .bottom-border, .page-border .left-border, .page-border .right-border, .page-border .top-border {
  background: #f3f3ef;
  position: fixed;
  z-index: 9999; }

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
  padding: 11px;
  background: #ccc; }

.page-border .bottom-border, .page-border .top-border {
  width: 100%;
  padding: 10px;
  left: 0; }

.page-border .left-border, .page-border .right-border {
  padding: 10px;
  height: 100%;
  top: 0; }

.page-border .top-border {
  top: 0; }

.page-border .right-border {
  right: 0; }

.page-border .bottom-border {
  bottom: 0; }

.page-border .left-border {
  left: 0; }

#wrapper {
  margin: 0px 15px;
  padding: 15px 0px;
  position: relative; }

/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/
/* --------- 2.1 Clearfix --------- */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* --------- 2.2 Rows and Columns --------- */
.row {
  max-width: 1245px;
  margin: 0 auto;
  padding: 1.75em 0em;
  position: relative; }

/* Targets all column classes */
[class*='col-'] {
  float: left;
  padding: 20px; }

.col-1-lg {
  width: 100%; }

.col-2-lg {
  width: 50%; }

.col-3-lg {
  width: 33.33%; }

.col-4-lg {
  width: auto; }

.col-1-md {
  width: auto; }

/* --------- 2.3 Header --------- */
#header {
  height: 71px !important;
  overflow: visible;
  z-index: 9999;
  width: 100%;
  position: absolute !important; }

/* --------- 2.4 Images ---------- */
img {
  vertical-align: top; }

.image-center {
  display: block;
  margin: 0 auto; }

a img {
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backface-visibility: hidden; }

a img:hover {
  opacity: 0.7; }

/* --------- 2.5 Section Headings --------- */
section {
  clear: both;
  overflow: hidden; }

.section-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 15px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-subtitle {
  font-size: 18px;
  padding-top: 0; }

.section-heading h2:after {
  background: #d2b356;
  margin: 0% 20%;
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 2px;
  margin-top: 10px; }

.section-heading h3 {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1.5em 0em 0em 0em; }

/*------------------------------------------------------------------------------------------*/
/* 3. Footer */
/*------------------------------------------------------------------------------------------*/
/* Scroll Up */
#scrollUp {
  bottom: 15px;
  right: 30px;
  width: 70px;
  height: 80px;
  margin-bottom: -10px;
  padding: 0 5px 20px 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: margin-bottom 150ms linear;
  -o-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear; }

#scrollUp:hover {
  margin-bottom: 0; }

#scrollUp:before {
  background: #ccc;
  font-family: "fontawesome";
  font-size: 2.4em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #fff;
  width: 45px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  content: "\f106";
  opacity: 1; }

#landing {
  background: url("../images/landing.jpeg") center center no-repeat;
  background: url("http://res.cloudinary.com/charlotte-developers/image/upload/dpr_auto,f_auto,q_auto/v1511204771/landing.jpg") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1; }
  #landing h1, #landing h2 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: whitesmoke; }
  #landing h2 {
    padding: 0 20px; }
  #landing:before {
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 49, 60, 0.85)), to(rgba(245, 245, 245, 0.65)));
    background: -webkit-linear-gradient(top, rgba(52, 49, 60, 0.85), rgba(245, 245, 245, 0.65));
    background: -o-linear-gradient(top, rgba(52, 49, 60, 0.85), rgba(245, 245, 245, 0.65));
    background: linear-gradient(to bottom, rgba(52, 49, 60, 0.85), rgba(245, 245, 245, 0.65));
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1; }

#meetups h2 {
  width: 100%;
  margin: 0;
  padding: 2.5em 0em; }

#meetups h3 {
  padding: 0 20px; }

#meetups .meetup-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #meetups .meetup-container .meetup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #454e57;
    padding: 40px 0; }
    #meetups .meetup-container .meetup p {
      width: 100%; }
    #meetups .meetup-container .meetup:nth-child(2n + 2) {
      background: #111;
      color: #fff; }

section#meetups.hidden {
  visibility: hidden;
  height: 2.5em;
  width: 0; }

#mission .mission-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #mission .mission-container .mission {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

#sponsors p {
  margin: auto; }

#sponsors h3 {
  font-size: 1.1em; }

#sponsors .sponsors-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 20%; }
  #sponsors .sponsors-container .sponsor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 20px;
    width: 33%; }

.users {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: auto; }
  .users img {
    width: 90%;
    margin: 0em auto 1.5em; }
  .users hr {
    width: 20%;
    padding-top: 1px; }
  .users p {
    margin: auto;
    max-width: 100%; }

#slack h2 {
  padding-bottom: 0.5em; }

#slack .slack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif, Helvetica;
  font-weight: 400; }
  #slack .slack .form-container {
    margin: 0.4em 0em 4.75em 0em;
    max-width: 65%;
    padding: 3.75em 0em 5em 0em;
    border-top: 2px solid rgba(17, 17, 17, 0.7);
    border-bottom: 2px solid rgba(17, 17, 17, 0.7); }
    #slack .slack .form-container form {
      border: 3px solid #111; }
      #slack .slack .form-container form input[type='email'] {
        color: #111;
        border-right: 3px solid #111; }
      #slack .slack .form-container form input[type='submit'] {
        background: #111;
        border: 1px solid whitesmoke;
        color: #fff; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 15px;
  color: whitesmoke;
  background: #111;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer [class*='col-'] {
    float: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    padding: 7.5px 0px; }
  footer .col-1-lg, footer .col-4-lg {
    padding: 4px 0px;
    width: auto; }
  footer .content-links {
    text-align: center;
    padding: .5em 2em .2em 2em; }
    footer .content-links a {
      color: whitesmoke;
      text-decoration: none;
      margin: 0.75em;
      padding: .65em 1.4em;
      border: 1px solid #d2b356; }
    footer .content-links a::before {
      border-left: solid 1px #454E57;
      padding: 2.5em; }
  footer .divider {
    border-left: solid 1px #454E57; }
  footer .copyright {
    margin-top: 0.5em;
    margin-bottom: 0em; }

@media screen and (max-width: 600px) {
  #user-section .col-1-sm {
    width: 100%; }
  #sponsors .sponsors-container {
    padding: 1em; }
    #sponsors .sponsors-container .sponsor {
      max-width: 100%;
      max-height: 250px; }
  .mission p {
    max-width: 80%; }
  #meetups .meetup-container .meetup p {
    max-width: 80%; }
  footer .copyright {
    margin-top: 2px; } }

@media screen and (min-width: 880px) {
  footer .col-1-sm, footer .col-1-md {
    padding: 0.1em 4.25em;
    width: auto; } }

@media screen and (max-width: 920px) {
  #user-section .col-1-sm {
    width: 100%; }
  .users img {
    min-height: 16.5vw; }
  .users p {
    max-width: 75%; }
  .meetup {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
    .meetup p {
      width: 800px; }
  .mission {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }

@media screen and (min-width: 880px) {
  footer .col-1-md {
    padding: 0.25em 8em; } }

@media screen and (max-width: 1049px) {
  .users img {
    min-height: 17vw; } }

@media screen and (min-width: 1050px) {
  .users img {
    min-height: 17.5vw; }
  footer .col-1-md {
    padding: 0.5em 12em; } }

@media screen and (min-width: 1200px) {
  .users img {
    min-height: 17.5vw; }
  footer .col-1-md {
    padding: 0.5em 17.5em; } }

@media screen and (min-width: 1300px) {
  .users img {
    min-height: 17vw; } }

@media screen and (min-width: 1400px) {
  .users img {
    min-height: 16vw; }
  footer .col-1-md {
    padding: 0.5em 25em; } }

@media screen and (min-width: 1500px) {
  .users img {
    min-height: 14.75vw; } }

@media screen and (min-width: 1600px) {
  .users img {
    min-height: 14.25vw; }
  footer .col-1-md {
    padding: 0.5em 30em; } }

@media screen and (min-width: 1720px) {
  .users img {
    min-height: 13.5vw; }
  footer .col-1-md {
    padding: 0.1em 40em; } }

@media screen and (min-width: 1900px) {
  .users img {
    min-height: 11.75vw; } }
