footer {
    h1 {
        color: $dark;
    }
    h3 {
        margin: 0;
        padding: 40px 20px;
        color: $light;
        background: $dark;
        border-top: 8px solid rgba($light, 1);
    }
    .slack {
        // border: 1px solid salmon;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $Secondary-font;
        font-weight: 400;
        .form-container {
            margin: 150px 0;
            max-width: 60%;
            padding: 90px 0;
            border-top: 2px solid rgba($light, 0.4);
            border-bottom: 2px solid rgba($light, 0.4);
            form {
                border: 3px solid $dark;
                input[type='email'] {
                    color: $dark;
                }
                input[type='submit'] {
                    background: $dark;
                    color: $white;
                }
            }
        }
    }
}
