footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 15px;
    color: $light;
    background: $dark;
    justify-content: center;
    align-items: center;
    [class*='col-'] {
        float: none;
        display: inline-flex;
        align-content: space-between;
        padding: 7.5px 0px;
    }
    .col-1-lg, .col-4-lg {
        padding: 4px 0px;
        width: auto;
    }
    .content-links {
        text-align: center;
        padding: .5em 2em .2em 2em;
        a {
            display: inline-flex;
            color: $light;
            text-decoration: none;
            margin: 0.75em;
            padding: .65em 1.4em;
            border: 1px solid #d2b356;
            align-items: center;
        }
        a::before {
            border-left: solid 1px $dark-gray;
            padding: 2.5em;
        }
    }
    .divider {
        border-left: solid 1px $dark-gray;
    }
    .copyright {
        margin-top: 0.5em;
        margin-bottom: 0em;
    }
}
