footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 15px;
    color: $light;
    background: $dark;
    justify-content: center;
    align-items: center;
    // border-top: 8px solid rgba($dark-gray, 1);
    .content-links {
        text-align: center;
        padding: 10px 0px 2.5px 0px;
        a {
            color: $light;
            text-decoration: none;
        }
    }
}
