/*

1. Defaults
- 1.1 Page Border
2. Layout Elements
- 2.1 Clearfix
- 2.2 Rows and Columns
- 2.3 Header
- 2.4 Images
- 2.5 Section Headings
3. Footer

/*------------------------------------------------------------------------------------------*/
/* 1. Defaults
/*------------------------------------------------------------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main {
  background: whitesmoke;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.row img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

figure {
    margin: 0;
}

/* --------- 1.1 Page Border --------- */

.page-border {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.page-border .bottom-border, .page-border .left-border, .page-border .right-border, .page-border .top-border {
    background: #f3f3ef;
    position: fixed;
    z-index: 9999;
}

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    padding: 11px;
    background: #ccc;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    padding: 10px;
    height: 100%;
    top: 0;
}

.page-border {
    .top-border {
        top: 0;
    }
    .right-border {
        right: 0;
    }
    .bottom-border {
        bottom: 0;
    }
    .left-border {
        left: 0;
    }
}

#wrapper {
    margin: 0px 15px;
    padding: 15px 0px;
    position: relative;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/

/* --------- 2.1 Clearfix --------- */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* --------- 2.2 Rows and Columns --------- */

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 1.75em 0em;
    position: relative;
}

/* Targets all column classes */

[class*='col-'] {
    float: left;
    padding: 20px;
}

.col-1-lg {
    width: 100%;
}

.col-2-lg {
    width: 50%;
}

.col-3-lg {
    width: 33.33%;
}

.col-4-lg {
    width: auto;
}

.col-1-md {
    width: auto;
}

/* --------- 2.3 Header --------- */

#header {
    height: 71px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

/* --------- 2.4 Images ---------- */

img {
    vertical-align: top;
}

.image-center {
    display: block;
    margin: 0 auto;
}

a img {
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

a img:hover {
    opacity: 0.7;
}

/* --------- 2.5 Section Headings --------- */

section {
    clear: both;
    overflow: hidden;
}

.section-heading {
    display: flex;
    padding: 0 0 15px 0;
    align-items: center;
    justify-content: center;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h2:after {
    background: $gold;
    margin: 0% 20%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 2px;
    margin-top: 10px;
}

.section-heading h3 {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 1.5em 0em 0em 0em;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Footer */
/*------------------------------------------------------------------------------------------*/

/* Scroll Up */

#scrollUp {
    bottom: 15px;
    right: 30px;
    width: 70px;
    height: 80px;
    margin-bottom: -10px;
    padding: 0 5px 20px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: 0;
}

#scrollUp:before {
    background: #ccc;
    font-family: "fontawesome";
    font-size: 2.4em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    content: "\f106";
    opacity: 1;
}
