#landing {
    // background: url("https://source.unsplash.com/collection/145103/computers-phones-and-tech") center center no-repeat;
    background: url("../../images/landing.jpeg") center center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
    z-index: 1;
    h1, h2 {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    h2 {
        padding: 0 20px;
    }
    &:before {
        content: '';
        background: linear-gradient(to bottom, rgba(#34313C, 0.85), rgba($light, 0.65));
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
}
