#meetups {
    h2 {
        width: 100%;
        margin: 0;
        // background: $gray;
        // color: $dark;
        padding: 2.5em 0em;
    }
    h3 {
        padding: 0 20px;
    }
    .meetup-container {
        display: flex;
        flex-wrap: wrap;
        .meetup {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            color: #454e57;
            padding: 40px 0;
            p {
                width: 100%;
            }
            &:nth-child(2n + 2) {
                background: $dark;
                color: $white;
            }
        }
    }
}

section#meetups.hidden {
    visibility: hidden;
    height: 2.5em;
    width: 0;
}
