#meetups {
    h2 {
        width: 100%;
        margin: 0;
        padding: 1.25em 0 0 0;
    }
    .meetup-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1245px;
        margin-right: auto;
        margin-left: auto;

        .meetup {
            width: 33.33%;
            padding: 20px;

            @media only screen and (max-width: 920px) {
                width: 100%;
            }

            &-cont {
                display: grid;
                grid-template-rows: 75px 60px 30px 1fr 30px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
                height: 510px;
            }

            p,
            &__title {
                width: 100%;
                text-align: left;
            }

            &__title {
                padding: 15px;
            }

            &__desc {
                padding: 0 15px;
            }

            &__time {
                color: $gray;
                padding-left: 15px;
            }

            &__time,
            &__location,
            &__address {
                letter-spacing: 1px;
                font-size: 13px;
            }

            &__info-cont {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 5px 15px;
                margin-top: 5px;
                margin-bottom: 5px;
                background-color: $gold;
                }

            &__link {
                align-self: flex-end;
                justify-self: end;
                padding: 15px;
                color: $dark;
                background: $gold;
                box-shadow: 1px solid rgba(0, 0, 0, 0.25);
            }
        }
    }

    section#meetups.hidden {
        visibility: hidden;
        height: 2.5em;
        width: 0;
    }
}
