.flex-1 {}
.flex-2 {}
.flex-3 {}

.mid-box-paragraph {
  position:absolute;
  top:50%;
  left:50%;
  font-family:$Secondary-font;
  color:$light;
  background-color:$dark;
}
 /*keeps perspective on entire container*/
.flip-container {
  perspective:1000px;
}
 /*flips pane on hover*/
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform:rotateY(180deg);
}
