#mission {
    .mission-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;
        
        .mission {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
        }
    }
}
