
@media screen and (max-width: 600px) {
    #user-section {
      	.col-1-sm {
            width: 100%;
      	}
    }
    #sponsors {
    	.sponsors-container {
    		  padding: 1em;
      		.sponsor {
        			max-width: 100%;
        			max-height: 250px;
      		}
    	}
    }
    .mission {
        p {
            max-width: 80%;
        }
    }
    #meetups .meetup-container .meetup {
        p {
            max-width: 80%;
        }
    }
}

@media screen and (max-width: 920px) {
    #user-section {
        .col-1-sm {
            width: 100%;
        }
    }
    .users {
        img {
            min-height: 16.5vw;
        }
        p {
            max-width: 75%;
        }
    }
    .meetup {
        flex-basis: 50%;
        p {
            width: 800px;
        }
    }
    .mission {
        flex-basis: 50%;
    }
    .sponsor {

    }
}

@media screen and (max-width: 1049px) {
    .users {
        img {
            min-height: 17vw;
        }
    }
}


@media screen and (min-width: 1050px) {
    .users {
        img {
            min-height: 17.5vw;
        }
    }
}

@media screen and (min-width: 1200px) {
    .users {
        img {
            min-height: 17.5vw;
        }
    }
}

@media screen and (min-width: 1300px) {
    .users {
        img {
            min-height: 17vw;
        }
    }
}

@media screen and (min-width: 1400px) {
    .users {
        img {
            min-height: 16vw;
        }
    }
}

@media screen and (min-width: 1500px) {
    .users {
        img {
            min-height: 14.75vw;
        }
    }
}

@media screen and (min-width: 1600px) {
    .users {
        img {
            min-height: 14.25vw;
        }
    }
}

@media screen and (min-width: 1720px) {
    .users {
        img {
            min-height: 13.5vw;
        }
    }
}

@media screen and (min-width: 1900px) {
    .users {
        img {
            min-height: 11.75vw;
        }
    }
}
//
// @media screen and (min-width: 1601px) {
//     .users {
//         img {
//             min-height: 15vw;
//         }
//     }
// }
// @media screen and (min-width: 1200px) {
//     #user-section {
//         .col-3-lg {
//             width: 100%;
//         }
//     }
// }

//
// /* Landscape mobile & down
// ===============================*/
// @media (max-width: 480px) {
//
//     #wrapper {
//         margin:0;
//         padding:0;
//     }
//
//     .page-border, #scrollUp, #scrollUp:before {
//         display:none;
//     }
//
//     .row {
//         padding: 15px !important;
//     }
//
//     .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38, .row {
//         width: 100%;
//     }
//
//     .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38 {
//         padding-right: 0;
//         padding-left: 0;
//     }
//
//     /*-----------------Header Elements-----------------*/
//     #header .row {
//         padding: 0 15px !important;
//     }
//
//     #header.nav-solid [class*="col-"] {
//         padding: 0;
//     }
//
//     /*Logo*/
//     #logo h2 {
//         padding: 0;
//     }
//
//     /* Social */
//     #header aside {
//         clear: both;
//         padding: 0;
//     }
//
//     #header ul.social-icons {
//         margin-top: 0;
//     }
//
//     #banner-content.row {
//         padding-top: 85px !important;
//     }
//
//     /*-----------------Sections-----------------*/
//
//     /* Call to Action*/
//     .call-to-action {
//         padding-bottom: 25px;
//     }
//
//     /* Video */
//     .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
//         height: 270px !important;
//     }
//
//     /* Footer */
//     #landing-footer #copyright {
//         float: left;
//         width: 50%;
//     }
//
//     #landing-footer .social-icons {
//         float: right;
//         width: 50%;
//     }
//
//     /*-----------------Typography-----------------*/
//     h1 {
//         font-size: 38px;
//     }
//
//     #banner h1 {
//         font-size: 48px;
//     }
//
//     /* Hide Elements */
//     a#scrollUp {
//         display: none !important;
//     }
//
// }
//
// /* Mobile to Tablet Portrait
// ===============================*/
// @media (min-width: 480px) and (max-width: 767px) {
//
//     #wrapper {
//         margin:0;
//         padding:0;
//     }
//
//     .page-border, #scrollUp, #scrollUp:before {
//         display:none;
//     }
//
//
//     .row {
//         padding: 15px 0 !important;
//     }
//
//     .col-1, .col-2, .col-5, .col-7, .col-9, .col-11, .col-2-3, .col-3-4, .col-61, .col-38, .row {
//         width: 100%;
//     }
//
//     .col-3, .col-4, .col-6, .col-8, .col-10, .col-12 {
//         width: 50%;
//     }
//
//     /*-----------------Header Elements-----------------*/
//     #header .row {
//         padding: 0 !important;
//     }
//
//     #header aside {
//         display: inline-block;
//         position: absolute;
//         top: 40px;
//         right: 60px;
//         padding-top:3px;
//         padding-right: 5px;
//     }
//
//     #header.nav-solid aside {
//         top: 20px;
//     }
//
//     #header aside ul {
//         margin-top: 0 !important;
//         padding-top: 6px;
//     }
//
//     #banner-content.row {
//         padding-top: 85px !important;
//     }
//
//     /*Navigation*/
//     nav#nav-mobile ul {
//         margin-left: -40px;
//         margin-right: -40px;
//         padding-left: 20px;
//         padding-right: 20px;
//     }
//
//     /*-----------------Sections-----------------*/
//
//     /* Video */
//     .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
//         height: 370px !important;
//     }
//
//     /* Footer */
//     #landing-footer #copyright {
//         float: left;
//         width: 50%;
//     }
//
//     #landing-footer .social-icons {
//         float: right;
//         width: 50%;
//     }
//
// }
//
// /* Landscape Tablet to Desktop
// ===============================*/
// @media (min-width: 768px) and (max-width: 1024px) {
//
//     #wrapper {
//         margin:0;
//         padding:0;
//     }
//
//     .page-border {
//         display:none;
//     }
//
//     .big-padding-top {
//         padding-top: 45px !important;
//     }
//
//     /*-----------------Header Elements-----------------*/
//     #header aside {
//         display: inline-block;
//         position: absolute;
//         top: 40px;
//         right: 60px;
//         padding-top:3px;
//         padding-right: 5px;
//     }
//
//     #header.nav-solid aside {
//         top: 20px;
//     }
//
//     #header aside ul {
//         margin-top: 0 !important;
//         padding-top: 6px;
//     }
//
//     /*Navigation*/
//     nav#nav-mobile ul {
//         margin-left: -40px;
//         margin-right: -40px;
//         padding-left: 20px;
//         padding-right: 20px;
//     }
