#slack {
    h2 {
        padding-bottom: 0.5em;
    }
    .slack {
        // border: 1px solid salmon;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $Secondary-font;
        font-weight: 400;
        .form-container {
            margin: 0em 0em 3.75em 0em;
            max-width: 65%;
            padding: 4em 0em 5em 0em;
            border-top: 2px solid rgba($light, 0.4);
            border-bottom: 2px solid rgba($light, 0.4);
            form {
                border: 3px solid $dark;
                input[type='email'] {
                    color: $dark;
                }
                input[type='submit'] {
                    background: $dark;
                    border: 1px solid $light;
                    color: $white;
                }
            }
        }
    }
}
