#sponsors {
	p {
		margin: auto;
	}
	h3 {
		font-size: 1.1em;
	}
	.sponsors-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 20px 20%;
		.sponsor {
			display: flex;
			padding: 5px 20px;
			width: 33%;
		}
	}
}
