.users {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;

    img {
        width: 90%;
        margin: 0em auto 1.5em;
    }

    hr {
        width: 20%;
        padding-top: 1px;
    }

    p {
        margin: auto;
        max-width: 100%;
    }
}
