.users {
  text-align: center;
  padding: 15px;

  img {
    width: 90%;
    min-height: 17vw;
    margin: 0em auto 1.5em;
  }

  p {
    margin: auto;
  }

  .info {
    display: inline-block;
  }
  // .col-sm-4 {
  //   display: inline-block;
  //   vertical-align: top;
  //   width: 30%;
  // }
}
