@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:500,700');

$Main-font: 'Roboto', sans-serif;
$Secondary-font: 'Open Sans', sans-serif;

h1 {
    font-size: 3em;
    font-family: $Main-font;
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-family: $Main-font;
    letter-spacing: 1.2px;
    line-height: 1.3em;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-size: 1.2em;
    font-family: $Main-font;
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: 500;
}

p {
    font-size: 0.85em;
    font-family: $Secondary-font;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    text-align: center;
    font-weight: 300;
    max-width: 60%;
}
